
body {
    background-color: rgba(209, 223, 224, 0.87);
}

.header {
    width: 100vw;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    justify-content: flex-start;
    }





main {
    display: flex;
    justify-content: space-between;
}

.workExperience {
    color: rgb(49, 39, 107);
    border: 1px solid black;
    padding: 50px;
    width: 65vw;
}

.edsk {
    /*position: relative;
    left: 500px;*/
    border: 1px solid black;
    padding: 50px;
    width: 35vw;
   }

.imgAT {
    border-radius: 200px; /* Радиус скругления */
    border: 3px solid black; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}