
header {
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    justify-content: space-around;    
    padding: 25px;
}

.hcont {
    display: flex;
    flex-direction: column;    
}

body {
    background-color: rgba(209, 223, 224, 0.87);
}

main {
    display: flex;
    justify-content: space-between;
}

.workExperience {
    color: rgb(49, 39, 107);
    border: 1px solid black;
    padding: 50px;
    width: 65vw;
}

.edsk {
    /*position: relative;
    left: 500px;*/
    border: 1px solid black;
    padding: 50px;
    width: 35vw;
}

.imgAT {
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid black; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */    
}

.workExperience:first-line {
    color: red;
}

.skills:first-line {
    color: red;
}

.education:first-line {
    color:red;
}

h4 {
    text-decoration: underline;
}

a:hover {
    color: green;
    font-size: 150%;
}

.socialMedia {
    
}
a {
    display: inline-block;
    height: 100px;
    width: 100px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    text-align: center;
}

a i {
    color: #0088cc;
    font-size: 40px;
    margin-top: 30px;
}

a:hover {
    background: #0088cc;
    transition: 1s;
}

a:hover i {
    background: #f1f1f1;
    transition: 1s;
    transform: scale(1.3);
}

